@{
    ViewData["Title"] = "Complete";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";


}

@{
    <div style="text-align: center">
        <h2>Thanks!</h2>
        <p>Thanks for placing your order.</p>
        <p>We'll ship your goods as soon as possible.</p>
    </div>
}
