@model IEnumerable<TurulFoods.Models.Product>

@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        <h1 id="indentEvent">Events</h1>

        <hr />
        <p id="indentEvent"> No events happening as of yet due to COVID-19!!!</p>
        <br />
        <br />
        <hr />
        <br />
        <br />
        <hr />
        <br />
        <br />
        <hr />
        <br />
        <br />
    </body>